 body {
     font-family: Arial, sans-serif;
     background-color: #e7dbc8;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
}
 .container {
     background-color: #faf4e8;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     padding: 20px;
     width: 90%;
     max-width: 800px;
     text-align: center;
}
 table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
}
 th, td {
     border: 1px solid #5a3e2b;
     padding: 10px;
     text-align: center;
}
 th {
     background-color: #5a3e2b;
     color: white;
}
 .btn {
     padding: 8px 15px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     color: white;
     margin: 3px;
}
 .btn-view {
     background-color: #007bff;
}
 .btn-view:hover {
     background-color: #0056b3;
}
 .btn-delete {
     background-color: #dc3545;
}
 .btn-delete:hover {
     background-color: #a71d2a;
}

.burger-btn > div{
    background-color: var(--secondary-color);
}

.open > div{
    background-color: var(--primary-color) !important;
}