/* 
---------------------------------------------
Section-1 Style
--------------------------------------------- 
*/

*{
    color: #8a5a3e;
}

main{
    height: auto;
}

.section-content {
    height: 95%;
    margin-bottom: 5%;
    padding-bottom: 2%;
}

.heading>h1 {
    font-size: 70px;
}

.heading>h2 {
    font-size: 16px;
}

.image-container>img {
    width: 70%;
    /* Заема ширината на контейнера */
    height: auto;
    /* Поддържа пропорциите на изображението */
    object-fit: cover;
    /* Центрира и изрязва изображението при нужда */
    max-width: 1200px;
    /* Максимален размер за голям екран */
    border-radius: 15px;    
    /* Закръглени ръбове */

    min-height: 200px;
    max-height: 550px;
}

.burger-btn{
    margin-top: -4% !important;
}

.open > div{
    background: #faf4e8 !important;
}


.image-container {
    height: 15%;
    width: 100%;
}

.content-conatiner > p{
    font-size: 21px;
    line-height: 1.6;
    text-align: justify;
    color: #333;
    width: 80%;
}
/* 
---------------------------------------------
Section-1 Style
--------------------------------------------- 
*/