 body {
     font-family: Arial, Helvetica, sans-serif;
     background-color: #e7dbc8;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
}
 .container {
     background-color: #faf4e8;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     padding: 30px;
     text-align: center;
     width: 80%;
     max-width: 500px;
}
 h2 {
     color: #5a3e2b;
     font-size: 24px;
     margin-bottom: 20px;
}
 p {
     color: #5a3e2b;
     font-size: 16px;
}
 .btn {
     background-color: #4CAF50;
     color: white;
     padding: 10px 20px;
     text-align: center;
     border-radius: 5px;
     text-decoration: none;
     display: inline-block;
     margin-top: 7px;
}
 .btn:hover {
     background-color: #45a049;
}
 .error {
     color: red;
     font-size: 18px;
     margin-top: 20px;
}
