/* 
---------------------------------------------
Section-1 Style
--------------------------------------------- 
*/

.mt-6 {
    margin-top: 12rem;
}

.s-1-title {
    font-size: 6rem;
}

.section-1-content>.button-container:hover {
    transform: scale(1.1);
}

.section-1-content>div>.button-container>a:hover {
    color: #fff !important;
}