.section-content {
    width: 90%;
    height: 90%;
    /* Увеличена височина */
    position: relative;
    background-color: #faf4e8;
    border-radius: 20px;
    /* Закръглени ъгли */
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    padding-bottom: 3%;
}

* {
    color: var(--secondary-color);
}

main {
    height: auto;
    padding-top: 30px;
}

.section-1 {
    height: auto;
    padding-bottom: 8%;
}

.burger-btn div {
    background: var(--secondary-color) !important;
}

.bg-secondary-soft {
    background-color: rgba(208, 212, 217, 0.1) !important;
}

.h-360 {
    height: 360px;
}

.rounded {
    border-radius: 5px !important;
}

.editor-container {
    height: 200px;
}

#editor {
    height: 100%;
    border: 1px solid #ccc;
    background-color: var(--bs-body-bg);
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.mt--13{
    margin-top: -15% !important;
}

.mt--7{
    margin-top: -7% !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.file-upload, .my-5{
    width: 94% !important;
    margin-left: 3% !important;
}

.file-upload .square {
    height: 250px;
    margin: auto;
    vertical-align: middle;
    border: 1px solid #e5dfe4;
    background-color: #fff;
    border-radius: 5px;
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(208, 212, 217, 0.5) !important;
}

.btn-success-soft {
    color: #28a745 !important;
    background-color: rgba(40, 167, 69, 0.1);
}

.btn-danger-soft {
    color: #dc3545 !important;
    background-color: rgba(220, 53, 69, 0.1);
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5dfe4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

/* Section 2 */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.section-2 {
    height: 300px;
}

.section-header {
    margin-top: 44px;
    display: flex;
    justify-content: space-around;
}

.section-title {
    font-size: 2rem;
    color: #333;

    margin-right: 43%;
}

.add-button {
    padding: 10px 15px;
    font-size: 20px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.add-button:hover {
    background-color: #218838;
}
